<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>961609661291-851akaei1lkbslci386v8g70b7hpm2np.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961609661291-851akaei1lkbslci386v8g70b7hpm2np</string>
	<key>API_KEY</key>
	<string>AIzaSyDB8AwfkA4L01ChByW0w7YodSnG_MaOqc4</string>
	<key>GCM_SENDER_ID</key>
	<string>961609661291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hotelBooking</string>
	<key>PROJECT_ID</key>
	<string>hotelbooking-b6801</string>
	<key>STORAGE_BUCKET</key>
	<string>hotelbooking-b6801.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961609661291:ios:64b96761c6c96646f6aa2e</string>
</dict>
</plist>